@model IEnumerable<FootballMVC.Models.Entities.Country>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-controller="CompetitionApi" asp-action="CountryLeags" asp-route-id="@item.Id">CountryLeags</a>
                </td>
                <td>
                    <a asp-action="SaveToDateBase" asp-route-id="@item.Id">SaveToDateBase</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="SaveAllToDateBase">Зберегти всі країни</a>
