@model IEnumerable<FootballMVC.Models.Entities.Competition>

@{
    ViewData["Title"] = "CountryLeags";
}

<h1>Турніри</h1>

<a asp-action="SaveAllToDateBase" asp-route-id="@Model.FirstOrDefault().CountryId">Зберегти всі турніри</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryId)
                </td>
                <td>
                    <a asp-controller="StandingApi" asp-action="ViewStandingByLeagID" asp-route-id="@item.Id">Турнірна таблиця</a>
                <td>
                </td>
                <td>
                    <a asp-controller="TeamApi" asp-action="ViewTemsByLeagID" asp-route-id="@item.Id">Команди</a>
                </td>
                <td>
                    <a asp-action="SaveToDateBase" asp-route-id="@item.Id">Зберегти</a>
                </td>
            </tr>

        }
    </tbody>
</table>
<div>
    <a asp-controller="CountryApi" asp-action="Index">Назад</a>
</div>
