
@model IEnumerable<FootballMVC.Models.Entities.Team>

@{
    ViewData["Title"] = "ViewTemsByLeagID";
}

<h1>Команди</h1>

<a asp-action="SaveAllToDateBase">Зберегти всі команди</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Players)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-controller="PlayerApi" asp-action="ViewPlayersByTeamId" asp-route-id="@item.Id">Список Гравців</a>
            </td>
            <td>
                <a asp-action="SaveToDateBase" asp-route-id="@item.Id">Зберегти</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<div>
    <a asp-controller="CompetitionApi" asp-action="CountryLeags">Назад</a>
</div>
